<div class="container">

  <p *ngIf="loadedBlogs.length == 0"> No Blogs available</p> 
  <div class="row mb-2">

    <div class="col-md-6"  *ngFor="let blog of loadedBlogs" >
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-muted">{{blog.date}}</div>
          <!-- <p class="card-text mb-auto">{{blog.intro.slice(0,30)}}...</p> -->
          <a routerLink='/single-blog/{{blog.id}}' class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <!-- <img class="bd-placeholder-img" width="200" height="250" src={{blog.image1}}></img> -->
          <img src="{{blog.image1}}" width="200" height="250" alt="">
        </div>
      </div>
    </div>

  </div>
</div>