<div class="container">
  <h2 class="text-center my-5 h2">
    Contact Us
  </h2>
  <div>
    <form>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone</label>
              <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>

      <button type="submit" class="btn btn-primary ">Submit</button>
    </form>
  </div>
</div>
