<div class="container">
    <div class="my-5 about-us">
        <h2 class="text-center h2 my-3">
            About Us
        </h2>
        <img [src]="aboutImage" alt="" class="img-fluid my-4 custom-img">
        <div class="row">
            <div class="col-6">
                <h4 class="text-center h2 mb-3">
                    Heading1
                </h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores dicta placeat alias. Facilis doloribus consequatur amet corporis voluptatibus, error quos, ipsum expedita aliquam ab nemo voluptates suscipit quas libero delectus laboriosam tenetur omnis iste. Repellat delectus sed architecto nam assumenda voluptates aliquam ducimus ut ea, ab dolor adipisci, unde nisi, itaque eius officiis voluptatibus et ex optio. Facilis sunt, odit tempore, iure deserunt corporis velit ad aspernatur debitis, exercitationem id commodi ipsa fuga iste sapiente sit similique. Saepe facere quod eveniet blanditiis dolorum quas, in reprehenderit ex perferendis itaque, cum ad qui soluta molestiae deleniti aliquid dolorem voluptate neque? Reiciendis?
                </p>
            </div>
            <div class="col-6">
                <h4 class="text-center h2 mb-3">
                    Heading-2
                </h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores dicta placeat alias. Facilis doloribus consequatur amet corporis voluptatibus, error quos, ipsum expedita aliquam ab nemo voluptates suscipit quas libero delectus laboriosam tenetur omnis iste. Repellat delectus sed architecto nam assumenda voluptates aliquam ducimus ut ea, ab dolor adipisci, unde nisi, itaque eius officiis voluptatibus et ex optio. Facilis sunt, odit tempore, iure deserunt corporis velit ad aspernatur debitis, exercitationem id commodi ipsa fuga iste sapiente sit similique. Saepe facere quod eveniet blanditiis dolorum quas, in reprehenderit ex perferendis itaque, cum ad qui soluta molestiae deleniti aliquid dolorem voluptate neque? Reiciendis?
                </p>
            </div>
        </div>
    </div>
</div>